<div class="container">
  <div class="page-header">
    <h1>Sobre</h1>
  </div>
  <h3>Termos de Serviço</h3>
  <p>Ao usar o pool você aceita todos os riscos possíveis relacionados ao uso experimental de software. <br/>
     O proprietário do pool não pode compensar perdas irreversíveis, mas fará o possível para evitar o pior caso.
  </p>
  <h3>Detalhes</h3>
  <p>
    <ul>
      <li>Escrito em Go, é um foguete altamente concorrente e usa uma pequena parte da RAM, Consome um pequeno pedaço de código</li>
      <li>Proxy de alto desempenho</li>
      <li>Módulo de pagamento e bloco de desbloqueio</li>
      <li>Projetado para instalação 100% distribuída</li>
      <li>Módulo de política estrita</li>
      <li>Front-End desenvolvido em Ember.js</li>
      <li>Projeto Original <a href="https://github.com/sammy007/open-ethereum-pool" rel="nofollow" target="_blank">sammy007/open-ethereum-pool</a></li>
    </ul>
  </p>
</div>
