<div class="container">
  <div class="page-header">
    <h1>
Não há dados da conta disponíveis</h1>
    <p>
Se você está procurando suas estatística, você deve enviar pelo menos um Share.</p>
  </div>
</div>
